* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 44px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-left: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 55px;
    font-weight: bold;
    line-height: 34px;
    height: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .game-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .game-row {
    display: flex;
  }

  .game-info {
    margin-left: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-align: center;
    width: 150px; /* Adjust the width as needed */
  }
  
  .standard-text {
    font-size: 14px;
    font-weight: normal;
  }
  
  .bold-text {
    font-size: 16px;
    font-weight: bold;
  }